
.header {
    height: 25%;
}

.section {
    height: 50%;
}

.myFooter {
    height: 25%;
}





html {
    height: 100%;
}

.headerItem {
    display: inline-block; 
    margin-left: 20%;
}



#credits {
    font-size: 0.9em;
    vertical-align: bottom;
}

body {
    background: url(images/mustach_background.jpg) no-repeat;/*Designed by freepik*/
    -webkit-background-size: cover;
}

.pageItem {
    background-color: rgba(203,201,214,0.8);
}

textarea.ng-invalid{
    background-color: rgba(250,37,37,0.5);
}

textarea.ng-valid.ng-dirty{
    background-color: rgba(20,255,28,0.5);
}

input.ng-invalid{
    background-color: rgba(250,37,37,0.5);
}

input.ng-valid.ng-dirty{
    background-color: rgba(20,255,28,0.5);
}
