body{
    background-color:rgb(204,202,207);
}

.borders{
    box-shadow:-4px 4px 5px grey;
    background-color:rgb(98,97,99);
    overflow-y: hidden;
}
#test {
    background-color: red;
    height: 10%;
}


.round {
    border-radius: 50%;
}

div {
    padding: 5px 0px 0px 5px
}

#dropBox{
    height: 100px;
}

textarea.ng-invalid{
    background-color: rgba(250,37,37,0.5);
}

textarea.ng-valid.ng-dirty{
    background-color: rgba(20,255,28,0.5);
}
aside {
    height: 100%;
}
