.section {
    height: 50%;
}

.myFooter {
    height: 25%;
}

html {
    height: 100%;
}

.headerItem {
    display: inline-block;
    margin-left: 15%;
}

@media(max-width:767px){
    .headerItem{
        margin-left: 25%;
    }
}

#credits {
    font-size: 0.9em;
    vertical-align: bottom;
}

.pageItem {
    background-color: rgba(203,201,214,0.8);
    box-shadow: -4px 4px 10px 2px grey;
}

textarea.ng-invalid{
    background-color: rgba(250,37,37,0.5);
}

textarea.ng-valid.ng-dirty{
    background-color: rgba(20,255,28,0.5);
}

input{
    background-color: rgba(20,255,28,0.5);
}

input.ng-invalid{
    background-color: rgba(250,37,37,0.5);
}

.button{
    background-color: rgba(203,201,214,0.8);
    border: none;
}

.output{
    background-color: white;
    height: 315px;
    margin-bottom: 10px;
    box-shadow: 1px 0px 20px 2px grey inset;
}
