Form<LogstashConfiguration> configForm = Normalizer.Form.form(LogstashConfiguration.class);
@(title: String)
@import model.forms.LogstashConfiguration
<!DOCTYPE html>
<html>

<head>
    <title>@title</title>
    <link rel='stylesheet' media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel='stylesheet' media="screen" href="@routes.Assets.at("main.css")">
    <script type='text/javascript' src="@routes.Assets.at("javascripts/vendor/jquery-1.11.1.min.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/vendor/bootstrap.min.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/vendor/angular-1.3.0/angular.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/main.js")"></script>
</head>
<body onload="init()">
    <div class='jumbotron'>
        <header class='row borders'>
            
            <h1 class='col-sm-3 col-sm-offset-1'>Mostash</h1>
        </header>
        <div class='row'>
                    <p></p>
                </div>
        <section class='row'>
            
            @import helper._
            @implicitField = @{ FieldConstructor(inputFieldConstructorTemplate.f) }
            
            @(configForm: Form[LogstashConfiguration])
            @helper.form(action=routes.Application.submit(), 'class->"col-sm-5", 'args->"novalidate"){
            
                
                @textarea(configForm("input"))
                
                
                @inputFile(configForm("configFile"), 'id->"fileUpload")
                
            }
            <aside class='col-sm-6 col-sm-offset-1'>
                <div class='row borders'>
                    <h4>3. Voila le résultat !</h4>
                    <textarea></textarea>
                </div>
            </aside>
        </section>
        <div class='row'>
            <p></p>
        </div>
        <footer class='row borders'>
            <img class='col-sm-3'/>
            <p class='col-sm-6'>Le blabla du footer</p>
            <a href='https://github.com/Serli/logstash-debugger' class='col-sm-3'><img src="@routes.Assets.at("images/github.png")" class='round' /></a>
        </footer>
        
    </div>
</body>
</html>
